// aurora-shared :: Functions

/// em :: @function to transform px (an unitless) to em 
/// @param {Number}  $px                      - Value to calculate in ems
/// @param {Number}  $fz [$ae-font-size)]     - Base font size to make calculations
@function em($px, $fz: $ae-font-size) {
  @if unitless($px) {
    @warn "#{$px} must be in pixels. Transformed to #{$px}px.";
    @return em($px * 1px, $fz);
  } @else if unit($px) == em {
    @return $px;
  }
  @return ($px / $fz) * 1em;
}


/// ae-breakpoints :: @mixin to set breakpoints
/// @param {String | Number}  $min [null]             - Value to set `min-width` query or key map that represents it
/// @param {String | Number}  $max [null]             - Value to set `max-width` query or key map that represents it
/// @param {String}           $type [all]             - Media type like `screen` or `print`
/// @param {Map}              $bps [$ae-breakpoints]  - Map to find $min or $max params if necessary
@mixin ae-breakpoints($min:null, $max: null, $type: all, $bps: $ae-breakpoints) {
  
  // Min
  @if type-of($min) == number {
    $min-val: if($min != 0, em($min), 0);
  } @else {
    $min-val: if(map-has-key($bps, $min), if(map-get($bps, $min) != 0, em(map-get($bps, $min)), 0), null);
  }

  // Max
  @if type-of($max) == number {
      $max-val: em($max);
  } @else {
      $max-val: if(map-has-key($bps, $max), em(map-get($bps, $max) - .01em), null);
  }

  // Output
  $query: null;
  $min-query: if($min-val and $min-val != 0, '(min-width: #{$min-val})', null);
  $max-query: if($max-val, '(max-width: #{$max-val})', null);
  $type-query: if($type == all and ($min-val or $max-val), null, $type );
  $queries: (
    type: $type-query,
    min: $min-query,
    max: $max-query
  );
  
  @each $prop, $value in $queries {
    @if map-get($queries, $prop) {
      @if not $query {
        $query: #{$value};
      } @else {
        $query: #{$query} and #{$value};
      }
    }
  }
  
  @if $min-val and not $min-query and not $max-query {
    @content;
  } @else {
    @media #{$query} {
      @content;
    }
  }

}


/// apply-in-breakpoints :: @mixin to apply classes in breakponts with a suffix
/// suffif to use like ae-no-margin-#{$_bp} will be: ae-no-margin-sm, ae-no-margin-md, ... depending on the map passed
/// @param {Map}      $bps [$ae-breakpoints]             - Map of breakpoints (name: size, ...)
/// @param {Boolean}  $isolated [false]                  - To the code between the actual and next breakpoint
@mixin apply-in-breakpoints($bps: $ae-breakpoints, $isolated: false) {
  @each $bp in map-keys($bps) {
    $_bp: $bp !global; 
    @if $isolated {
      $keys: map-keys($bps);
      $i: index($keys, $bp);
      $n-bp: if($i < length($keys), nth($keys, $i + 1), null);

      @include ae-breakpoints($bp, $n-bp) {
        @content;
      }
    } @else {
      @include ae-breakpoints($bp) {
        @content;
      }
    }
    

    $_bp: null;
  } 
}
