// aurora-shared :: Settings

/// Prefix to apply in most classes
$ae: 'ae' !default;

/// Debug configurations
$debug-colors: (
  high: #f42853,
  mid: #4b527e,
  low: #b8b9b1,
  zero: #fff
);


/// Colors
$ae-dark-grey: #202020 !default;
$ae-mid-grey: #858585 !default;
$ae-light-grey: #e7e7e7 !default;
$ae-ultra-light-grey: #fafafa !default;

$ae-red: #fd6d5e !default;
$ae-fucsia: #d05 !default;
$ae-blue: #1d8acb !default;
$ae-yellow: #ffa !default;


/// Base font size to calculate in rem, when applied to <html>
$ae-font-size: 16px !default;

@import 'modular-scale';
$ms-base: .875rem, 1rem, 1.125rem;
$ms-ratio: 1.5;

$ae-alfa:     ms(10);   //  ~54px
$ae-beta:     ms(9);    //  ~47px
$ae-gamma:    ms(8);    //  ~40px
$ae-delta:    ms(7);    //  ~36px
$ae-epsilon:  ms(6);    //  ~31px
$ae-zeta:     ms(5);    //  ~27px
$ae-eta:      ms(4);    //  ~24px
$ae-theta:    ms(3);    //  ~21px
$ae-iota:     ms(2);    //  ~18px
$ae-kappa:    ms(1);    //  ~16px
$ae-lambda:   ms(0);    //  ~14px
$ae-mi:       ms(-1);   //  ~12px
$ae-ni:       ms(-2);   //  ~10px

$ae-space: $ae-mi !default;

/// Breakpoints
$ae-breakpoints: (
  xs: 0,
  sm: 40em,
  md: 52em,
  lg: 64em,
  xl: 75em
) !default;

